body {
}

.project-list, .nav-btn {
    display: flex;
    width: 70%;
    margin: 10px auto;
    padding: 10px;
    justify-content: space-evenly;
}

.nav-btn {
    flex-direction: row;
}

.project-list {
    flex-direction: column;
}

.project-list tr th {
    font-size: 24px;
    text-align: center;
}

.link-tr {
    cursor: pointer;
}

.project-table td a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px;
}