body {
}

.project-list, .nav-btn {
    display: flex;
    width: 70%;
    margin: 10px auto;
    padding: 10px;
}

.nav-btn {
    flex-direction: row;
    justify-content: space-around;
}

.btn-to-project {
    margin: 0;
    border-radius: 5px;
}

.project-list {
    flex-direction: column;
    justify-content: space-evenly;
}

.project-list tr th {
    font-size: 24px;
    text-align: center;
}

.link-tr {
    cursor: pointer;
}

.project-table td a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px;
}

.go-back {
    position: fixed;
    top: 42px;
    padding: 10px;
    font-size: 19px;
    border-radius: 5px
}

.exit {
    margin: 5px 0 0 10px;
    border: 0;
    border-radius: 7px;
    padding: 10px 15px;
}

#delete-project, #delete-notification-btn, #delete-read-notification-btn {
    background-color: #bb2d3b;
}

dialog {
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.dialog-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 500px;
    text-align: center;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.btn-change-role {
    width: 100%;
}

.td-btn {
    text-align: center;
}