@model Project_Manager.Models.Category

@{
    ViewData["Title"] = "Редактировать категорию";
}

<h2>Редактировать категорию</h2>

<form class="formCreate" asp-action="Edit" method="post">
    <input asp-for="Id" class="form-control" hidden value="@Model.Id"/>
    <div class="form-group">
        <label asp-for="Name" class="control-label">Название категории</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <input asp-for="ProjectId" class="form-control" hidden value="@Model.ProjectId" />
    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
    <a href="@Url.Action("Index", "ProjectTasks", new{ projectId = ViewBag.ProjectId})" class="btn btn-secondary">Назад</a>
</form>