@model Project_Manager.Models.Category

@{
    ViewData["Title"] = "Редактировать категорию";
}

<h1>Редактировать категорию</h1>

<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Название категории</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
    <a asp-action="Index" class="btn btn-secondary">Назад</a>
</form>
