@using Microsoft.AspNetCore.Identity;
@using Project_Manager.Models
@inject SignInManager<AppUser> signInManager

<ul class="navbar-nav">
    @if (signInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-linkin dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @User.Identity!.Name!
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                    <a class="dropdown-item" asp-action="Logout" asp-controller="Account">
                        Выйти
                    </a>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-linkin" asp-area="" asp-controller="Account" asp-action="Register">Зарегистрироваться</a>
        </li>
        <li class="nav-item">
            <a class="nav-linkin" asp-area="" asp-controller="Account" asp-action="Login">Войти</a>
        </li>
    }
</ul>
