@model Project_Manager.ViewModels.CreateAndEditProjectVM

@{
    ViewData["Title"] = "Изменить проект";
}

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-antiforgery="true" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

@*             <div class="form-group">
                <label for="invitationLink">Пригласительная ссылка:</label>
                <div class="input-group">
                    <input type="text" id="invitationLink" class="form-control" value="@Model.InvitationLink" readonly>
                    <button class="btn btn-outline-secondary" type="button" id="copyButton">Копировать</button>
                </div>
            </div> *@

            @* TODO Редактировать участников *@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    /* Стили для всплывающего окна */
    .toast {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #28a745;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 14px;
        display: none;
        opacity: 0; /* Прозрачно */
        transition: opacity 0.5s ease-in-out; /* Анимация изменения прозрачности */
        z-index: 1000;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .toast.show {
        display: block;
        opacity: 1;
    }
</style>

<script>
    document.getElementById("copyButton").addEventListener("click", function () {
        var linkField = document.getElementById("invitationLink");
        linkField.select();

        // Копируем текст в буфер обмена
        navigator.clipboard.writeText(linkField.value).then(function () {
            showToast(); // Показываем всплывающее сообщение
        }).catch(function () {
            alert("Не удалось скопировать ссылку.");
        });
    });

    function showToast() {
        var toast = document.getElementById("toast");
        toast.classList.add("show");

        // Убираем уведомление через 3 секунды
        setTimeout(function () {
            toast.classList.remove("show");
        }, 3000);
    }
</script>