@using Project_Manager.DTO.Project
@model IEnumerable<ProjectDTO>

@{
    ViewData["Title"] = "Проекты";
}

<div class="nav-btn">
    <a asp-action="Create" class="btn btn-add btn-to-project">Создать проект</a>
    <a asp-controller="JoinProject" asp-action="Join" class="btn btn-add btn-to-project">Присоединиться к проекту</a>
</div>

@if (Model.Count() == 0)
{
    <h2>Вы не участвуете ни в одном проекте. Самое время это исправить!</h2>
}
else
{
    <div class="project-list">
        <table class="table project-table">
            <thead>
                <tr><th>Проекты</th></tr>
            </thead>
            <tbody>
                @foreach (var project in Model)
                {
                <tr class="task-tr link-tr">
                    <td>
                        <a asp-controller="ProjectTasks" asp-action="Index" asp-route-projectId="@project.Id">@project.Name</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
}




