@using Project_Manager.DTO.Project
@model IEnumerable<ProjectDTO>

@{
    ViewData["Title"] = "Проекты";
}

@section Styles {
    <link rel="stylesheet" href="~/css/projectIbdex.css" asp-append-version="true" />
}

<div class="nav-btn">
    <a asp-action="Create" class="btn btn-add">Создать проект</a>
    <a asp-action="" class="btn btn-add">Присоединиться к проекту</a>
</div>

@if (Model.Count() == 0)
{
    <p>Вы не участвуете ни в одном проекте. Самое время это исправить!</p>
}
else
{
    <div class="project-list">
        <table class="table project-table">
            <thead>
                <tr><th>Проекты</th></tr>
            </thead>
            <tbody>
                @foreach (var project in Model)
                {
                <tr class="task-tr link-tr">
                    <td>
                        <a asp-controller="ProjectTasks" asp-action="Index" asp-route-projectId="@project.Id">@project.Name</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
}




