@using Project_Manager.DTO.Notification
@model IEnumerable<NotificationDTO>

@{
    ViewData["Title"] = "Уведомления";
}

<p>
    <a asp-action="">Удалить прочитанные</a>
    <a asp-action="">Пометить все прочитанными</a>
</p>

<button onclick="goBack()">Назад</button>

<hr />
@if (Model.Count() == 0)
{
    <tr>У вас нет уведомлений</tr>
}
else
{
    <table class="table">
        <tbody>
            @foreach (var notification in Model)
            {
            <tr id="notification-@notification.Id">
                <td>
                    @notification.Message
                </td>
                <td>
                    @notification.SendDate
                </td>
                <td>
                    <a asp-action="MarkAsRead" asp-route-id="@* @project.Id *@">Пометить как прочитанное</a>
                </td>
                <td>
                    <button class="btn btn-danger btn-exclude-participant"
                            type="button"
                            data-notification-id="@notification.Id"
                            onclick="openExclusionModal(this)">
                        Удалить
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>
}

<dialog class="dialog" id="confirm-exclusion" aria-labelledby="dialog-name">
    <h4 class="dialog__title" id="dialog-name">
        Вы уверены, что хотите удалить это уведомление?<br />
        Отменить действие будет невозможно.
    </h4>
	<form id="exclusion-form">
        <button type="submit" class="btn btn-danger" id="delete-btn" onclick="deleteNotification(this)">Удалить</button>
        <button type="button" onclick="window['confirm-exclusion'].close()">Отмена</button>
    </form>
</dialog>


@section Scripts {
    <script src="~/js/notification-index.js"></script>
}